.loading {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 5;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
}

.loading h1, .loading p {
  position: relative;
  top: 40vh;
  color: #FFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.loading h1 {
  font-weight: 700;
}

.loading p {
  font-weight: 300;
}

.progress {
  position: relative;
  top: 40vh;
  display: block;
  margin: auto;
  border: 16px solid #383838;
  border-radius: 50%;
  border-top: 16px solid #254cb0;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
