.tooltip {
  padding: 15px;
  border-radius: 15px;
  background-color: #000;
  opacity: 0.8;
}

.tooltip h1, .tooltip h2, .tooltip p {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.tooltip h1 {
  font-weight: 400;
}

.tooltip h2 {
  line-height: 10px;
}

.tooltip p {
  font-family: 300;
  font-size: 0.8em;
  line-height: 10px;
}
